
.carousel-inner img {
      width: 100%;
      height: 100%;
  }
.mycolor{
	color:#20B2AA;
}

.nav-pills{
	color:#20B2AA;
}

.breadcrumb{
	padding-top: 25px 
}
.breadcrumb a{
	color: #20B2AA;
}
.form-group label{
	font-size:12px;
}
#header{
	background-image: url("../images/texture-bw.png");
}
#InHeader{
    padding-top: 25px;
}
#mainBody{
	margin-top:50px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 1px 1px;
    cursor: pointer;
}
.button1 {
    background-color: white; 
    color: #20B2AA;
    border: 1px solid #20B2AA;
}

.photo{
	width:100%;
	height:auto;
	margin-bottom:10px;
}
#footer2{
	background: #202020;
    color: white;
    padding-top: 25px;
}

<!-- CUSTOMER ACCOUNT CSS -->
#customerForm{
	margin-bottom: 22px;
}
<!-- CUSTOMER ORDER DETAILS -->

#beta{
	color:#696969; font-size:15px;
	padding-top: 0px;
    margin-top: -7px;
}

#mostViewed{
	font-size:12px;
}

#subhead{
	font-weight:bold;
	font-size:16px;
}
.descriptionPara p{
	font-size:15px;
}

.desctable{
	font-size:12px;
}
.reviewer p, a{
	font-size:13px;
}


.homePara1{
	background:#F8F8F8;
}
.CamSpec{
	margin-top: -10px;
}
.addressId{
	font-size:16px;
}